.perfil-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1ac0c096;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(88, 25, 25, 0.1);
}
.perfil-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid palevioletred;
}
.perfil-titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: fantasy,sans-serif;
}