.list{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    gap: 20px;
}

.listItem{
    background-color: #e5e7eb;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    max-width: 270px;
    max-height: 260px;
    overflow: hidden;
}
.listItem,b,span{
    margin-right: 5px;
}
.itemName{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #7c3aed;
    font-family: 'Arial', sans-serif;
    max-height: 20px;
    overflow: hidden;
}
.ItemDescription{
    font-size: 14px;
    color: #2563eb;
    font-family: 'Verdana', sans-serif;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
}
.ItemLanguage{
    font-size: 12px;
    color:#1a0dab ;
    font-family: 'Courier New', monospace;
    max-height: 20px;
}
.ItemLinkB{
    margin-top: 10px;
    color: #10b981;
    text-transform: uppercase;
}
.ItemLink { 
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    font-family: 'Tahoma', sans-serif; 
    display: flex;
    align-items: center;
    max-width: 260px;
    height: 40px;
    background-color: #7c3aed; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); 
    transition: all 0.3s ease; 
    cursor: pointer; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; } 
    .ItemLink:hover { 
        background-color: #10b981; 
        transform: scale(1.05); 
        color: #7c3aed;
    }